@import "tailwindcss";
@plugin "daisyui";

body,
html,
#root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  @apply bg-base-100 text-base-content;
}

.login-form {
  @apply bg-base-200 text-base-content;
  width: 350px;
  margin: auto;
  margin-top: 10vh;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-form h2 {
  margin-bottom: 25px;
  font-weight: 700;
  color: #0096c7;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  @apply w-full px-4 py-2 rounded bg-base-100 border border-base-300 text-base-content placeholder-gray-400;
  margin: 10px 0 20px 0;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
  border-color: #0096c7;
  outline: none;
}

.login-form button {
  @apply bg-primary text-white font-bold text-base rounded w-full py-3 transition;
}

.login-form button:hover {
  background-color: #0096c7;
}

.login-form .signup-text {
  margin-top: 20px;
  font-size: 14px;
  @apply text-base-content;
}

.login-form .signup-text a {
  color: #0077b6;
  font-weight: 600;
  text-decoration: none;
  margin-left: 5px;
  transition: color 0.3s ease;
}

.login-form .signup-text a:hover {
  color: #0096c7;
}
