@import "tailwindcss";
@plugin "daisyui";

body,
html,
#root {
  height: 100%;
  margin: 0;
  background-color: #0096c7;
  font-family: Arial, sans-serif;
}

.login-form {
  background-color: #f0f4f8;
  width: 350px;
  margin: auto;
  margin-top: 10vh;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  color: #1a202c;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 25px;
  font-weight: 700;
  color: #023e8a;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0 20px 0;
  border: 1.8px solid #90caf9;
  border-radius: 6px;
  font-size: 16px;
  color: #1a202c;
  background-color: #ffffff;
  transition: border-color 0.3s ease;
}

.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
  border-color: #0096c7;
  outline: none;
}

.login-form button {
  background-color: #0077b6;
  color: white;
  border: none;
  padding: 12px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #0096c7;
}

.login-form .signup-text {
  margin-top: 20px;
  font-size: 14px;
  color: #1a202c;
}

.login-form .signup-text a {
  color: #0077b6;
  font-weight: 600;
  text-decoration: none;
  margin-left: 5px;
  transition: color 0.3s ease;
}

.login-form .signup-text a:hover {
  color: #0096c7;
}
